<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thecosmicsam.files.wordpress.com/2018/12/img_2273.jpg?w=1500?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp);">
  <div class="banner-content">
    <h1><strong>Welcome to Coctello!</strong></h1>
    <a class="btn btn-dark" href="/cocktails/new">Create a new cocktail</a>
  </div>
</div>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cl_image_tag cocktail.photo.key, width: 400, height: 300, crop: :fill if cocktail.photo.attached? %><br><%= link_to "#{cocktail.name} | ", cocktail %><%= link_to "🗑 Remove", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

