.home-banner {
  background-image: url('https://www.qwant.com/?q=la%20felicita%20bar&t=images&o=0:9b927561f51552f370c9af04e4887fe7&size=all&license=all&freshness=all&color=all&imagetype=all&source=web');
  background-size: cover;
  height: 56vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
